<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 在添加内部配置表的时候，要注意的各个节点顺序，否则报错，MyBatis配置节点的顺序为 -->
<!-- properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers? -->
  <settings>
    <setting name="useGeneratedKeys" value="true"/>
    
    <!-- 使用别名替换列名:select name as title from table-->
    <setting name="useColumnLabel" value="true"/>
    
    
    <!-- 开启驼峰命名转换,就是（如数据库中的字段first_name => 实体类中的属性firstName）-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
     
    <!-- 打印查询语句Sql执行的语句 
    <setting name="logImpl" value="STDOUT_LOGGING" />
   	-->
   	
  </settings>
  
  
  <typeAliases>
    <package name="com.hhu.entity"/>
  </typeAliases>
  
  
  <!-- 添加MyBatis对PageHalper的插件支持,其实就是拦截器，每次执行SQL的时候，都会被拦截下来做一些处理 -->
  <plugins>  
    <!-- com.github.pagehelper为PageHelper类所在包名,5.0用com.github.pagehelper.PageInterceptor，4.0低版本用的com.github.pagehelper.PageHelper，否则报错
     -->  
    <plugin interceptor="com.github.pagehelper.PageInterceptor">  
      <!-- 4.0.0以后版本可以不设置该参数 ,可以自动识别
      <property name="dialect" value="mysql"/>  
      -->  
      <!-- 该参数默认为false -->  
      <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->  
      <!-- 和startPage中的pageNum效果一样-->  
      <property name="offsetAsPageNum" value="true"/>  
      <!-- 该参数默认为false -->  
      <!-- 设置为true时，使用RowBounds分页会进行count查询 -->  
      <property name="rowBoundsWithCount" value="true"/>  
      <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->  
      <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->  
      <property name="pageSizeZero" value="true"/>  
      <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->  
      <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->  
      <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->  
      <property name="reasonable" value="true"/>  
      <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->  
      <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->  
      <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->  
      <!-- 不理解该含义的前提下，不要随便复制该配置 -->  
      <property name="params" value="pageNum=start;pageSize=limit;"/> 
      <!-- 支持通过Mapper接口参数来传递分页参数 -->  
      <property name="supportMethodsArguments" value="true"/>  
      <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->  
      <property name="returnPageInfo" value="check"/>  
    </plugin>  
  </plugins> 
  

</configuration>